.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  .left {
    box-sizing: border-box;
    width: 15vw;
    // height: 100vh;
    padding: 10px;
    border-right: 1px solid rgba(214, 213, 213, 0.5);
    background-color: rgb(255, 255, 255);
  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 64px 64px 40px;
    overflow: hidden;
    .contentTitleContainer {
      display: block;
    }
    .outWorkContainer {
      height: calc(100vh - 89px);
      overflow: scroll;
      padding: 10px 10px 0px 10px;
      border-top: 0.5px solid rgb(232, 232, 232);
      .workContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
      }
    }
  }
}
